{% extends 'main.html' %}
{% block content %}

    {# Navbar links #}
    <div id="mySidenav" class="sidenav">
        <a class="closebtn" onclick="shift()">&#9776;</a>
        <a style="font-family: 'B Nazanin'" href="{% url "home" %}"><span class="glyphicon glyphicon-th"></span> صفحه اصلی </a>
        <a style="font-family: 'B Nazanin'" href="{% url "register" %}"><span class="glyphicon glyphicon-check"></span> ثبت نام </a>
        <a style="font-family: 'B Nazanin'" href="{% url "contactus" %}"><span class="glyphicon glyphicon-send"></span> ارتباط با ما </a>
    </div>

    {# Span for shifting #}
    <div id="main">
          <span style="font-size:30px;cursor:pointer" onclick="shift()">&#9776;</span>
    </div>

    <script>
    let x = 0 {#  x = 0 --> means the nav is close AND x = 1 --> means the nav is open #}
    function shift() {# Shifting between opening and closing the Nav #}
    {
        if (x === 0)
        {
            openNav()
            x = 1
        }else {
            closeNav()
            x = 0
        }
    }

    function openNav() {# Open Nav #}
    {
      document.getElementById("mySidenav").style.width = "100%";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {# Close Nav #}
    {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>

    {# Login Form #}
    <form action="{% url "login" %}" method="post">
        {% csrf_token %}
        <h1 style="font-family: 'B Nazanin'; font-size: 55px; float: right"> ورود </h1>
        <br><br><br><br><br>
        <div class="form-group">
            <label for="username"> نام کاربری </label>
            <input class="form-control form-control-lg" id="username" type="text" name="username"
            maxlength="100" style="float: right" size="40" placeholder="ali_akbar" required>
        </div>
        <br><br><br>
        <div class="form-group">
            <label for="password"> رمز عبور </label>
            <input class="form-control form-control-lg" id="password" type="password" name="password"
            placeholder="**********" maxlength="256" required>
        </div>
        <br>
        <input type="submit" value=" ورود " class="btn btn-primary bg-primary" style="float: right">
        <br><br><br>
        <p style="float: right; font-family: 'B Nazanin'; font-size: 20px"> آیا حساب کاربری ندارید؟ <a href="{% url "register" %}"> ثبت نام </a></p>
    </form>

{% endblock content %}