{% extends 'main.html' %}
{% block content %}

{#<nav class="navbar navbar-inverse">#}
{#  <div class="container-fluid">#}
{##}
{#    <div class="navbar-header">#}
{#      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#      </button>#}
{#      <a class="navbar-brand" href="#">بوی سگ</a>#}
{#    </div>#}
{##}
{#    <div class="collapse navbar-collapse" id="myNavbar">#}
{#      <ul class="nav navbar-nav">#}
{#        <li class="active"><a href="#">صفحه اصلی</a></li>#}
{#        <li><a href="#">ارتباظ با ما</a></li>#}
{#      </ul>#}
{##}
{#      <ul class="nav navbar-nav navbar-right">#}
{#        <li><a href="#"><span class="glyphicon glyphicon-user"></span>  ثبت نام </a></li>#}
{#        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>  ورود </a></li>#}
{#      </ul>#}
{#    </div>#}
{##}
{#  </div>#}
{#</nav>#}
  <div class="m-4">
    <nav class="navbar navbar-expand-lg" style="background-color: white; border-color: white; float: right">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color: #8c8585">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">بوی سگ</a>
        </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav nav-pills navbar-nav" style="float: right">
                <li><a class="nav-item nav-link active btn btn-primary" style="font-size: 18px" href="#">صفحه اصلی</a></li>
                <li><a class="nav-item nav-link btn" style="font-size: 18px" href="#"><span class="glyphicon glyphicon-log-in"></span> ورود </a></li>
                <li><a class="nav-item nav-link btn" style="font-size: 18px" href="#"><span class="glyphicon glyphicon-user"></span> ثبت نام </a></li>
                <li><a class="nav-item nav-link btn" style="font-size: 18px" href="#"><span class="glyphicon glyphicon-phone"></span> ارتباط با ما </a></li>
            </ul>
          </div>
      </div>
    </nav>
  </div>



    <form action="{% url "getName" %}" method="post">
        <div class="form-group">
            <label for="name">اسمش چیه؟</label>
            <input class="form-control form-control-lg" id="name" type="text" name="name"
            maxlength="100" style="float: right" size="30" placeholder="علی اکبر" required>
        </div>
        <br><br><br><br>
        <div class="form-group">
            <label for="email">ایمیلش چیه؟</label>
            <input class="form-control form-control-lg" id="email" type="email" name="email"
            placeholder="ustink@gmail.com" maxlength="256" required>
        </div>
        <br>
        <input type="submit" value="ارسال" class="btn btn-primary" style="float: right">
        <br><br><br>
        <i class="bi bi-question-circle" style="float: right"></i>
    </form>

{% endblock content %}